{% load i18n %}
{% load static %}
{% load mptt_tags %}
<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown"> -->
                <div class="row col-4 align-items-center">

                    <a href="/tk/{{request.get_full_path|slice:"4:"}}" class="nav-link {% if LANGUAGE_CODE == 'tk' %} active btn-lg bg-light {% endif %}">TM</a>
                    <a href="/ru/{{request.get_full_path|slice:"4:"}}" class="nav-link {% if LANGUAGE_CODE == 'ru' %} active btn-lg bg-light {% endif %}">RU</a>
                    <a href="/en/{{request.get_full_path|slice:"4:"}}" class="nav-link {% if LANGUAGE_CODE == 'en' %} active btn-lg bg-light {% endif %}">EN</a>
                </div>
                
            <!-- </li>
            <li class="nav-item dropdown"> -->
                <!-- <a href="#" class="nav-link"> TMM </a> -->
            <!-- </li>
        </ul> -->
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> {% translate 'Email' %} sargajak@gmail.com</a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> {% translate 'Call Us' %} +993 62 793662</a></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
    </nav>
    


    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{% url 'home' %}" class="brand-wrap">
                <img class="logo" src="{% static 'images/sargajaklogo.png' %}">
            </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> {% translate 'Categories' %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'store' %}">{% translate 'All Products' %}</a>

                    {% for category in links %}
                        <a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }} </a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> {% translate 'Vendors' %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'store' %}">{% translate 'All Vendors' %}</a>
                    {% for vendor in vendors %}
                        <a class="dropdown-item" href="{{ vendor.get_vendor_products_url }}">{{ vendor.official_name }} </a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-primary">{% translate 'Store' %}</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            
            <form action="{%url 'store' %}" class="search" method="GET">
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="{% translate 'Search From Whole Site' %}" name="search"
                        {% if request.GET.search %} value="{{ request.GET.search}}" {% endif %}>
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="widget-header">
                            {% if user.id is None %}
                            <small class="title text-muted">{% translate 'Welcome guest!' %}</small>
                            <div> 
                                <a href="{% url 'login' %}">{% translate 'Sign in' %}</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'registration' %}"> {% translate 'Register' %}</a>
                            </div>
                            {% else %} 
                            <small class="title text-muted">{% translate 'Welcome' %} {{user.first_name}}!</small>
                            <div> 
                                <a href="{% url 'dashboard' %}">{% translate 'Dashboard' %}</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout' %}"> {% translate 'Logout' %}</a>
                            </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    <!-- Category Dropdown Menu and Vendor Menu      -->
    <section class="header-main border-bottom p-0">
        <div class="container">
            <div class="row">

                
                {% for root in root_categories %}
                <div class="col-lg col-sm col-md col flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"> 
                            <i class="fa fa-bars"></i> {{root.name}}
                        </button>
                        <div class="dropdown-menu">
                            {% for sub_category in root.get_children %}
                            <a class="dropdown-item" href="{{ sub_category.get_url }}">{{ sub_category.name }} </a>
                            {% endfor %}
                        </div>
                    </div>  <!-- category-wrap.// -->
                </div> <!-- col.// -->
                {% endfor %}
        
        <!-- Vendors -->
        <div class="col-lg col-sm col-md col flex-grow-0">
            <div class="category-wrap dropdown d-inline-block">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> {% translate 'All Vendors' %}
                </button>
                <div class="dropdown-menu">
                    {% for vendor in vendors %}
                    <a class="dropdown-item" href="{{ vendor.get_vendor_products_url }}">{{ vendor.official_name }} </a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->


    </div>  <!-- category-wrap.// -->
</div> <!-- col.// -->

    </div>
    </div>
    </section>
    
    </header> <!-- section-header.// -->