{% extends 'base.html' %} 
{% load i18n %}
{% load static %} 

{% block content %} 




<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
        <aside class="col-lg-6">
            <div class="card">
                <div class="card-body">
            <form action="{% url 'place_order' %}" method="POST">
                {% csrf_token %}
            <h4 class="card-title mb-4">{% translate 'Billing Address' %}</h4>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">{% translate 'First Name' %}</label>
                        <input type="text" name="first_name" class="form-control" value="{{ request.user.first_name }}" required> 
                    </div>
                    <div class="col form-group">
                        <label for="">{% translate 'Last Name' %}</label>
                        <input type="text" name="last_name" class="form-control" value="{{ request.user.last_name }}" required> 
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">{% translate 'Email' %}</label>
                        <input type="email" name="email" class="form-control" 
                        value="{% if not request.user.email == 'None' %} {{ request.user.email }}{% endif %}"> 
                    </div>
                </div>
                    <div class="form-row">
                        <div class="col form-group">

                            <label for="">{% translate 'Phone Number' %}</label>
                            <div class="input-group col">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">993</div>
                                </div>
                                <input type="tel" class="form-control" pattern="6[1-5]{1}[0-9]{6}" readonly 
                                value="{{request.user.phone_number}}" name="phone_number">
                            </div>
                        </div>

                    <div class="col form-group">
                        <label for="">{% translate 'Extra Phone Number' %}</label>
                        <div class="input-group col">
                            <div class="input-group-prepend">
                                <div class="input-group-text">993</div>
                            </div>
                            <input type="tel" class="form-control" pattern="6[1-5]{1}[0-9]{6}" 
                            value="{% if not billingaddress.phone_extra == 'None' %}{{ billingaddress.phone_extra }}{% endif %}" name="phone_extra">
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">{% translate 'Address Line 1' %}</label>
                        <input type="text" name="address_line_1" class="form-control" 
                        value="{% if not billingaddress.address_line_1 == 'None' %}{{ billingaddress.address_line_1 }}{% endif %}" required> 
                        {% if billingaddress.address_line_1 == 'None' %} none {% else %} not none {% endif %}
                    </div>
                    <div class="col form-group">
                        <label for="">{% translate 'Address Line 2' %}</label>
                        <input type="text" name="address_line_2" class="form-control" 
                        value="{% if not billingaddress.address_line_2 == 'None' %}{{ billingaddress.address_line_2 }}{% endif %}" > 
                        {% if billingaddress.address_line_2 == 'None' %} none {% else %} not none {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">{% translate 'City' %}</label>
                        <input type="text" name="city" class="form-control" required 
                        value="{% if not billingaddress.city == 'None' %}{{ billingaddress.city }}{% endif %}"> 
                    </div>
                    <div class="col form-group">
                        <label for="">{% translate 'State' %}</label>
                        <input type="text" name="state" class="form-control" 
                        value="{% if not billingaddress.state == 'None' %}{{ billingaddress.state }}{% endif %}"> 
                    </div>
                    <div class="col form-group">
                        <label for="">{% translate 'Country' %}</label>
                        <input type="text" name="country" class="form-control" 
                        value="{% if not billingaddress.country == 'None' %}{{ billingaddress.country }}{% endif %}"> 
                    </div>
                </div>
                <div class="form-row">
                    <label for="">{% translate 'Order Note' %}</label>
                    <textarea name="order_note" rows="2"class=" form-control"></textarea>
                </div>
            </div>
        </div> <!-- card.// -->
        
    </aside> <!-- col.// -->
    <aside class="col-lg-6">
        <div class="card">
            <div class="card-body">
                {% for vendor, values in vendors_dict.items %}
                <h5 class="card-title">{% translate 'Vendor: ' %} {{vendor}}</h5>
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">{% translate 'Product' %}</th>
                            <th scope="col" width="120">{% translate 'Quantity' %}</th>
                            {% if is_wholesale %}
                            <th scope="col" width="140">{% translate 'Wholesale Price' %}</th>
                            {% else %}
                            <th scope="col" width="120">{% translate 'Price' %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in values.cartitems %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images }}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                            <br>
                                            {% if not cart_item.product.has_no_variation %}
                                                {{ cart_item.variation.color }} : {{ cart_item.variation.size }}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <label for="">{{ cart_item.quantity }}</label>
                            </td>
                            {% if is_wholesale %}
                            <!-- WHOLESALE -->
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">${{ cart_item.sub_total }}</var> 
                                        <small class="text-muted"> ${{ cart_item.variation.package_price }} {% translate 'each package' %} </small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                            {% else %}
                            <!-- RETAILSALE -->
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">${{ cart_item.sub_total }}</var> 
                                        <small class="text-muted"> ${{ cart_item.variation.sale_price }}  {% translate 'each' %} </small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                            {% endif %}

                            
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="card-subtitle text-muted">{% translate 'Delivery' %}:({{vendor}}):</td>
                            <td></td>
                            <td class="card-subtitle text-muted">{{values.delivery}}</td>
                        </tr>
                        <tr>
                            <td class="card-subtitle text-muted">{% translate 'Subtotal' %}:({{vendor}}):</td>
                            <td></td>
                            <td class="card-subtitle text-muted">{{values.subtotal}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                          <dt>{% translate 'Total Price:' %}</dt>
                          <dd class="text-right">${{ total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>{% translate 'Total Delivery:' %}</dt>
                          <dd class="text-right"> ${{ total_delivery }}</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>{% translate 'Total:' %}</dt>
                          <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                        </dl>
                        <hr>

                    </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                <button type="submit" name="submit"  class="btn btn-primary btn-block">{% translate 'Checkout' %}</button>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">{% translate 'Continue Shopping' %}</a>
            </div> <!-- card-body.// -->
        </div> <!-- card.// -->
        
    </aside> <!-- col.// -->
</form>
    
    
</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}